@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OneShinhanBold";
  src: url("./assets/fonts/OneShinhanBold.woff") format("woff");
}
@font-face {
  font-family: "OneShinhanMedium";
  src: url("./assets/fonts/OneShinhanMedium.woff") format("woff");
}
@font-face {
  font-family: "OneShinhanLight";
  src: url("./assets/fonts/OneShinhanLight.woff") format("woff");
}

:root {
<<<<<<< HEAD
  font-family: "OneShinhanLight";
=======
  /* --font-OneShinhanBold: "OneShinhanBold";
  --font-OneShinhanBold: "OneShinhanBold"; */
  font-family: "OneShinhanMedium";
>>>>>>> 5e9ffaebb53271a0ff5049ed17f7946501a6badd
}
